body {
    background-color: white;
    
}
h1 {
    font-family: Calibri;
    color: black;
    text-align: center;
}

.op {
    background-color: aqua;
    display: inline-block;
    
}

#hi {
    background-color: aqua;
}

#rock:hover, rock:active {
    font-size: 50px;
    transition: all 400ms ease-in-out;

}

#paper:hover, paper:active {
    font-size: 50px;
    transition: all 400ms ease-in-out;

}

#scissors:hover, scissors:active {
    font-size: 50px;
    transition: all 400ms ease-in-out;

}