:root {
    background-color: rgb(141, 141, 141);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.Options {
    display: flex;
    justify-content: center;
}

.RPS {
    font-size: 60px;
    padding-right: 50px;
    transition: 100ms;
    border: none;
    outline: none;
    background: none;
}
.RPS:hover {
    cursor: pointer;
    transform: scale(1.25);
}
.Players{
   padding: 50px;
   justify-content: center;
}

#winner{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}

